
<% if(success){ %>
<div class="alert alert-success" role="alert">
    Congratulations! Your answer is correct.
  </div>
<% } %>

<% if(fail){ %>
    <div class="alert alert-danger" role="alert">
        Sorry, your answer is incorrect.
    </div>
<% } %>