
<div class="btn-group" role="group" aria-label="Basic example">
  <a href='/user/createhack'>
    <button type="button" class="btn btn-secondary">Create hacks</button>&nbsp
  </a>
  <a href='/user/hackit'>
    <span><button type="button" class="btn btn-secondary">Solve Hacks</button></span>
  </a>
  </div> 
