
<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary">Create hacks</button>&nbsp
    <span><button type="button" class="btn btn-secondary">Solve Hacks</button></span>
  </div> 