
		
<div class="body_2">
  <p style="font-size:50px; color:white;"> Let Us Know You Better ...</p>
<div class="body_1">
  <a href="/user/createhack">
	<button class="btn_1">Create  Hacks !!</button></a>
  <br>
  <a href="/user/hackit">
	<button class="btn_1">Solve  Hacks !!</button></a>
</div>
</div>

