
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <style>
    body {
      background-color: #f9f9f9;
    }
    h1 {
      margin-bottom: 20px;
      text-align: center;
    }
    .form-group {
      margin-bottom: 20px;
    }
    label {
      font-weight: bold;
    }
    .add-input {
      margin-top: 20px;
    }
    .emoji {
      font-size: 2rem;
      margin-right: 10px;
    }
  </style>
</head>
<body>
  <div class="container mt-5">
    <h1><span class="emoji">&#x1F4D1;</span>MCQ Test Page<span class="emoji">&#x1F4D1;</span></h1>
<div class="container mt-5">

<form method="POST" action="/user/createhack">
  <div class="inputs" id="inputsID">
    <div class="form-group">
      <label for="question">Question:</label>
      <input type="text" class="form-control" id="question" name="question" required />
    </div>

    <div class="form-group">
      <label for="option1">Option 1:</label>
      <input type="text" class="form-control" id="option1" name="option1" required />
    </div>

    <div class="form-group">
      <label for="option2">Option 2:</label>
      <input type="text" class="form-control" id="option2" name="option2" required />
    </div>
  </div>
  <div class="form-group">
    <label for="correct">Correct answer:</label>
    <select class="form-control" id="correct" name="correct" required>
      <option value="option1">Option 1</option>
      <option value="option2">Option 2</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
  <button class="btn btn-secondary add-input">Add one more input</button>
</form>
</div>

<script>
  const addButton = document.querySelector("button.add-input");

  const inputDiv = document.querySelector("form .inputs");
  const optionDiv = document.querySelector("select .options");
  let value = 3;
  addButton.addEventListener("click", () => {
    // button to add the inputs
    const myinp = document.getElementById("inputsID");
    const myopt = document.getElementById("correct");

    const newinp = document.createElement("div");
    const newOption = document.createElement("option");

    newinp.innerHTML = `<label for="option${value}">Option ${value}:</label><input type="text" id="option${value}" name="option${value}" required />`;
    newOption.innerHTML = `Option ${value}`;

    newOption.setAttribute("value", `${value}`);

    myinp.appendChild(newinp);
    myopt.appendChild(newOption);
    // myopt.innerHTML = `<option value="option${value}">Option ${value}</option>`;     // This wont work, as this will erase all the previous innerhtml content. So we need to create manually an option

    value += 1;
  });
</script>

