<style>
  .title {
    text-align: center;
  }

  .error-message {
    background: #6ccb4d;
    color: white;
    border-radius: 10px;
    padding: 10px;
    width:100%;
  }

  .mew-form,
  .loading {
    width: 50%;
    margin: 0 auto;
  }

  .loading {
    text-align: center;
  }

  .mews {
    width: 80%;
    margin: 0 auto;
  }

  .mews > div {
    background: hsl(0, 0%, 95%);
    padding: 12px;
    border-radius: 4px;
  }

  .mews > div > h3 {
    word-wrap: break-word;
  }

  .mews > div > p {
    word-wrap: break-word;
  }

  .mews > div:not(:last-child) {
    margin-bottom: 8px;
  }

  .button-container {
    display: flex;
    justify-content: center;
    margin: 1em;
  }
</style>
<header>
  <h1 class="title" style="color:aliceblue"><strong>MyEdu` </strong>&#9997;</h1>
</header>
<p></p>
<p></p>
<main>
  <div class="form-center">
  <form action="/user/forum" method="POST" style="text-align: center;">
    <div class="error-message"></div><p></p>
    <label for="name"style="color:aliceblue">Your Name </label>
    <input class="u-full-width" type="text" id="name" name="name" style="width:135vh"/>
    <label for="content" style="color:aliceblue">What You wanna Post ? </label>
    <textarea
      class="u-full-width"
      type="text"
      id="content"
      name="content"
      style="width:120vh"
      rows="10"
      cols="15"
    ></textarea>
    <p></p> <p></p>
    <button class="button-primary" style="background-color: rgb(119, 183, 252); color:rgb(43, 40, 40); font-size:20px;"><b>Post It !<b></b></button>
  </form>
</div>
  <div class="mews"></div>
  <div class="button-container">
    <p id="loadMore">Loading...</p>
  </div>
  <div class="loading" >
    <img src="/Loading.gif" alt="" />
  </div>
</main>
<script src="./forum.js"></script>
