
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">
  <style>
    *{
      color:white;
    }
    ul {
      list-style-type: none;
      margin: 0; 
      padding: 0;
    }

    li {
      border-bottom: 1px solid #ccc;
      margin-bottom: 20px;
      padding-bottom: 20px;
    }

    h2 { 
      margin-top: 0;
    }

    small {
      color: #999;
      font-style: italic;
    }
  </style>

<div class="container-fluid banner">
<div class="row">
  <div class="col-md-12">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark" style="z-index: 5;">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><b>ConEdu</b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/user/yourtalkdesk">For Students</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="/user/forum">Your TalkDesk</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    you
                </a>
                <ul class="dropdown-menu">
                    
                    <li><a class="dropdown-item" style="color: black; margin-left: 7%;" href="/user/profile">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: black; margin-left: 7%;" href="/user/logout_welcome">Logout</a>
                    </li>
                </ul>
              </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
    
  <div class="row mt-3">
    <% question.forEach(q => { %>
    <div class="col-md-12 mb-4">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title" style="color: black;"><%= q.data.question %></h2>
    
          <p class="card-text"><small class="text-muted">Created at <%= q.date %></small></p>
        </div>
      </div>
    </div>
    <% }) %>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>




