
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">
  <style>
    *{
      color:white;
    }
    ul {
      list-style-type: none;
      margin: 0; 
      padding: 0;
    }

    li {
      border-bottom: 1px solid #ccc;
      margin-bottom: 20px;
      padding-bottom: 20px;
    }

    h2 { 
      margin-top: 0;
    }

    small {
      color: #999;
      font-style: italic;
    }
  </style>

  <div class="container" style="color:white">
    <div class="row">
      <div class="col-md-12">
        <nav class="navbar navbar-md">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="."><b>Home</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><b>For Students</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="user/login" target="_blank"><b>Login</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  href="/user/register"><b>Register</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  <div class="row">
                <div class="col-md-12">
                  <nav class="navbar navbar-md">
                    <ul class="nav">
                      <li class="nav-item">
                        <a class="nav-link" href="."><b>Home</b></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#"><b>For Students</b></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="user/login" target="_blank"><b>Login</b></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"  href="/user/register"><b>Register</b></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"  href="/user/yourtalkdesk"><b>Your TalkDesk</b></a>
                      </li>
                    </ul>
                  </nav>
                </div>
            </li>
          </ul>
        </nav>
      </div>
    <h1 class="mt-3">Recent Questions</h1>

    <ul class="mt-3" style="color:whitesmoke">
      <% question.forEach(q => { %>
      <li>
        <a href="/user/hackit/<%= q._id %>" class="text-decoration-none">
          <h2 class="text-primary" style="color:whitesmoke"><%= q.data.question %></h2>
          <small>Created at <%= q.date %></small>
        </a>
      </li>
      <% }) %>
    </ul>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
