<!-- index.ejs -->
<style>
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  
    li {
      border-bottom: 1px solid #ccc;
      margin-bottom: 20px;
      padding-bottom: 20px;
    }
  
    h2 {
      margin-top: 0;
    }
  
    small {
      color: #999;
      font-style: italic;
    }
  </style>
  
  <h1>Recent Questions</h1>
  
  <ul>
    <% question.forEach(q => { %>
    <li>
      <a href="/hackit/<%= q._id %>">
        <h2><%= q.data.question %></h2>
        <small>Created at <%= q.date %></small>
      </a>
    </li>
    <% }) %>
  </ul>
  