<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node.js && riziUzi_layout</title>
    <!-- <link rel="stylesheet" href="C:\Users\Nishesh Shukla\Downloads\bootstrap.min.css">           //changing this to below one for boxes -->
    <link rel="stylesheet" type="text/css" href="/layout.css"/>
    <link rel="stylesheet" type="text/css" href="/choice.css"/>
    <link rel="stylesheet" type="text/css" href="/createhack.css"/>
    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/journal/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway&display=swap"
      rel="stylesheet"
    />
    <!-- <link rel="stylesheet" href="https://kit.fontawesome.com/d776fca225.css" crossorigin="anonymous">    //changing this with below one for js logo -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <%- body%>

</html>