
<script>

const myTimeout = setTimeout(myGreeting, 5000);

function myGreeting() {
 
  document.getElementsByClassName('alert alert-warning alert-dismissible fade show')[0].style.display= 'block'
}
</script>


<div class="container-fluid banner">
  <div class="alert alert-warning alert-dismissible fade show" id="p_1"role="alert" style="display:none">
    <strong>Hola amigos!</strong> Wanna Know More <a href="https://www.livescience.com/news" target="_blank"> Dive Here !</a>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-md" style="z-index: 5;">
        <ul class="nav">
          <li class="nav-item">
            <button style="background-color: green;"><a class="nav-link" href="."><b>Home</b></a></button>
          </li>
          <li class="nav-item">
            <button style="background-color: green;"><a class="nav-link" href="#"><b>For Students</b></a></button>
          </li>
          <li class="nav-item">
            <button style="background-color: green;"><a class="nav-link" href="user/login" target="_blank"><b>Login</b></a></button>
          </li>
          <li class="nav-item">
            <button style="background-color: green;"><a class="nav-link"  href="/user/register"><b>Register</b></a></button>
          </li>
          <li class="nav-item">
            <button style="background-color: green;"><a class="nav-link"  href="/user/forum"><b>Your TalkDesk</b></a></button>
            <a class="nav-link"  href="/user/yourtalkdesk"><b>Your TalkDesk</b></a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-md-8 offset-md-2 info">
      <p class="text-center">
        <b>Learn here with conEdu`</b>
        <span class="material-symbols-outlined">
          cast_for_education
          </span>
      </p>
      <a href="/user/choice" class="btn btn-md text-center"  >Start with us here</a>
    </div>
  </div>
  
</div>


