<div class="container-fluid banner">
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Holy guacamole!</strong> You should check in on some of those fields below.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-md">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="#"><b>Home</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><b>Your Corner</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="user/login" target="_blank"><b>Login</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="/user/register"><b>Register</b></a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-md-8 offset-md-2 info">
      <p class="text-center">
        <b>Learn here with conEdu`</b>
      </p>
      <a href="/user/choice" class="btn btn-md text-center"  >Start with us here</a>
    </div>
  </div>
</div>
