
<script>

  const myTimeout = setTimeout(myGreeting, 5000);
  
  function myGreeting() {
   
    document.getElementsByClassName('alert alert-warning alert-dismissible fade show')[0].style.display= 'block'
  }
  </script>
  
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  
  
  
    <div class="row" >
      <div class="col-md-12">
        <nav class="navbar navbar-md" >
          <ul class="nav">
            <li class="nav-item">
              <button style="background-color: green;"><a class="nav-link" href="." style="color: white;"><b>Home</b></a></button>
            </li>
            <li class="nav-item">
              <button style="background-color: green;"><a class="nav-link" href="/user/yourtalkdesk" style="color: white;"><b>For Students</b></a></button>
            </li>
            <li class="nav-item">
              <button style="background-color: green;"><a class="nav-link" href="user/login"  style="color: white;"><b>Login</b></a></button>
            </li>
            <li class="nav-item">
              <button style="background-color: green;"><a class="nav-link"  href="/user/register"style="color: white;" ><b>Register</b></a></button>
            </li>
            <li class="nav-item">
              <button style="background-color: green; width:900%; display:inline-flex;"><a class="nav-link"  href="/user/forum" style="color: white;"><b>Your TalkDesk</b></a></button>
            </li>
          </ul>
        </nav>
      </div>
      <div class="container-fluid banner">
        <div class="alert alert-warning alert-dismissible fade show" id="p_1"role="alert" style="display:none">
          <strong>Hola amigos! Wanna Know More </strong> <a href="https://www.livescience.com/news" target="_blank"> Dive Here !</a>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <div class="col-md-8 offset-md-2 info" style="background-color:white;"id="animate-area">
        <p class="text-center"style="color:black">
          <b>Learn here with conEdu`</b>
          <span class="material-symbols-outlined">
            cast_for_education
            </span>
        </p>
        <a href="/user/login" class="btn btn-md text-center" id="lp">Start with us here</a>
      </div>
    </div>
    <div>
    <p style="text-align: center;"><h1>Our Ideas </h1></p>
    <p>
      <strong> Hola Amigos </strong>
      Or should we say , our Players ! 
      Join Us in our journey to revolutionlaize one of the most awaited fields of education and make it limitless to explore!
  
    </p>
    </div>
  
    <section style="display: flex;">
      
      <div><img src="blackboard.jpg"></div>
      <div><img src="blackboard.jpg"></div>
      <div><img src="blackboard.jpg"></div>
    </section>
  </div>
  
  
  
  
  